.course-list-container {
    padding: 10px;
  }
  
  .course-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .courses {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh; /* Set the height to the full viewport height to center vertically */
  }
  
  .course-item {
    background-color: #fff;
    padding: 12px;
    width: 500px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  