
.App {
    text-align: center;
  }
  
  .App-header {
    background-color: #333;
    color: white;
    padding: 1rem;
    
  }
  .heading{
    margin-left: 45%;
    display: flex;
  }
  
  .App-main {
    margin: 4rem;
    padding: 0.3rem;
    border: 5px solid rgb(15, 214, 240);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
  }
  th, td {
    border: 1px solid #ccc;
    padding: 1.2rem;
    text-align: center;
  }
  
  th {
    background-color: #ffffff;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .backToDashboard{
    align-items: right;
    justify-content: right;
    margin-left: 400%;
  }
  .apply-button {
    display: inline-block;
    padding: 7px 30px;
    border: none;
    border-radius: 5px;
    background-color: #0c729e; 
    color: #ffffff; 
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .apply-button:hover {
    background-color: #032952;
  }